<!-- Bootstrap Scripts -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
script(src='../../javascripts/jQuery.js')
script(src='../../javascripts/popper.min.js')
script(src='../../javascripts/bootstrap.min.js')

<!-- Other Scripts -->
script(src='../../javascripts/jsFunctions.js')