form(method='post' action='/create_store')
    | First Name:
    br
    input(type='text' name='firstName')
    br
    | Last Name:
    br
    input(type='text' name='lastName')
    br
    | phoneNumber:
    br
    input(type='text' name='phoneNumber')
    br
    | faxNumber:
    br
    input(type='text' name='faxNumber')
    br
    | streetAddress:
    br
    input(type='text' name='streetAddress')
    br
    | city:
    br
    input(type='text' name='city')
    br
    | state:
    br
    input(type='text' name='state')
    br
    | zip:
    br
    input(type='text' name='zip')
    br
    | district:
    br
    input(type='text' name='districtNumber')
    input(type='submit' value='Submit')